.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-home {
  width: 1.15625em;
}

.icon-home2 {
  width: 1.15625em;
}

.icon-id_l {
  width: 0.875em;
}

.icon-msgCollect {
  width: 0.875em;
}

.icon-phone_l {
  width: 0.6875em;
}

.icon-td {
  width: 0.8125em;
}

.icon-tdx {
  width: 0.8125em;
}

.icon-zycx {
  width: 0.9375em;
}

.icon-gz {
  width: 1.0771484375em;
}
